## Carpetas generadas por Unity (no se versionan)
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/

# Archivos de Visual Studio / Rider / VS Code generados
.vs/
.vscode/
.idea/
*.csproj
*.unityproj
*.sln
*.slnx
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Metadatos de OS
.DS_Store
Thumbs.db

# Archivos de compilación de Unity
*.apk
*.aab
*.unitypackage
*.app

# Crashlytics
crashlytics-build.properties

# Archivos de asset bundles generados
/[Aa]ssets/AssetBundles/
/[Aa]ssets/StreamingAssets/aa.meta
/[Aa]ssets/StreamingAssets/aa/*
